* {
  font-family: system-ui;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgba(65,178,255,1) 0%, rgba(33,219,172,1) 50%);
  height: 90vh;
}

h1 {
  color:#fff;
  text-align: center;
  font-size: 25px;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  padding: auto;
}


form {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#importe{
  width: 150px;
  margin:3px 1px;  
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

textarea {
  margin: 10px;
  margin-left: 50px;
  line-height: 1.3em;
  border-radius: 6px;
  resize: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
}

#fechaDesde {
  width: 180px;
  margin:2px;  
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

#fechaHasta {
  width: 180px;
  margin:2px;  
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.informacion {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  color: #ffffff;
}

.warning {
  width: 300;
  text-align: center;
  margin: auto;
  background: #ffffff00;
  color: rgb(255, 0, 0);
  font-size: 23px;
}

.iva {
  width: 500;
  text-align: center;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.sin-iva {
  width: 500;
  text-align: center;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  text-align: center;
  padding-top: 1px;
  color: #fff;
}

/* SEPARADORES */

.separador-importe {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 5px;
}

.separador-fechas {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.espaciado {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.separador1 {
  padding: 10px;
}

.separador-boton-calcular {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.separador-textarea {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* CARD */

.e-card {
  margin: 1% auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 40rem;
  height: 43rem;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 900px;
  height: 800px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -20%;
  margin-top: -85%;
  background: linear-gradient(744deg,#4063ff,#5b42f3 60%,#0023eb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 1em;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 360px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 12000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 12000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 11000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*BOTON DE COPIAR*/

.copy {
  /* button */
  --button-bg: #353434;
  --button-hover-bg: #464646;
  --button-text-color: #cccccc;
  --button-hover-text-color: #41b2ff;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  /* tooltip */
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
  --tooltip-font-size: 12px;
  /* 👆 this field should not be empty */
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
  /* --tooltip-transition-duration: 0.3s; */
  /* 👆 if you need a transition, 
  just remove the comment,
  but I didn't like the transition :| */
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

/* ACCIONES */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}


/* FORMULARIO DE OPCIONES */


.servicio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.servicio-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  font-size: 16px;
  color: #333333;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 230px;
}
.servicio-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
.servicio-container input[type="radio"] {
  opacity: 0;
  position: absolute;
}
.servicio-checkmark {
  position: relative;
  height: 24px;
  width: 24px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.servicio-container input[type="radio"]:checked + .custom-radio-checkmark {
  background-color: #ffffff;
  border-color: #007bff;
  box-shadow: 0 0 0 8px rgba(0, 123, 255, 0.2);
  transform: scale(1.2);
  animation: pulse 0.6s forwards;
}
.servicio-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.servicio-container
  input[type="radio"]:checked
  + .servicio-checkmark::after {
  display: block;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #007bff;
  transform: translate(-50%, -50%);
}
@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}

/* BOTON CALCULAR */

.cssbuttons-io {
  margin-top: 5px;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #21dbac, #41b2ff);
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-left: 0.7em;
  stroke-width: 2px;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 0.9em 0.8em 1.02em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #154360;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

/* SEÑOR FOOTER*/

.btn-shine {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  background-clip: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 150px;
  }
  100% {
    background-position: 300px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 150px;
  }
  100% {
    background-position: 300px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 150px;
  }
  100% {
    background-position: 300px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 150px;
  }
  100% {
    background-position: 300px;
  }
}